<div class="container" id="genres">
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-4" style="margin: auto;">
        <div class="col" ng-repeat="genre in $genre.genres | genreLimit | orderBy:order">
            <div class="skew">
                <div class="skew-cancel">
                    <a ui-sref="stations({by: 'genre', id: genre.name })">
                        <p class="text-center">{{ genre.name | uppercase }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>