#countrys .skew {
    border: solid;
    border-color: #00f0f0;
    margin: 10px;
    transform: skew(-20deg);
    background: #012826;
}
#countrys .skew-cancel {
    transform: skew(20deg);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#countrys a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #00f0f0;
}

#countrys p {
    margin-bottom: 0;
}