$body-bg: #0e0e10;
$body-color: #efeff1;

@import "~bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
  color: #00f0f0;
}

#page-content-wrapper {
  min-width: 80vw;
}

.bg-dark {
  background-color: #1f1f23 !important;
}

.list-group-item {
  color: #efeff1;
}

.col {
  padding: 0;
}

