.glow-ball-container {
    position: relative;
}
.glow-ball {
    position: absolute;
    top: 102px;
    right: -2px;

    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #00f0f0;
    box-shadow: 0 0 10px 10px #00f0f0;

    animation-duration: 30s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: glow-ball-move;

}
@keyframes glow-ball-move {
    0% {
        top: 102px;
        box-shadow: 0 0 4px 4px #00f0f0;
        animation-timing-function: ease-in;
    }
    25% {
        top: 50vh;
        box-shadow: 0 0 8px 8px #00f0f0;
        animation-timing-function: ease-out;
    }
    50% {
        top: 98vh;
        box-shadow: 0 0 4px 4px #00f0f0;
        animation-timing-function: ease-in;
    }
    75% {
        top: 50vh;
        box-shadow: 0 0 8px 8px #00f0f0;
        animation-timing-function: ease-out;
    }
    100% {
        top: 102px;
        box-shadow: 0 0 4px 4px #00f0f0;
    }
}

