.skew {
    border: solid;
    border-color: #00f0f0;
    margin: 6px;
    padding-left: 6px;
    transform: skew(-20deg);
    background: #012826;
}
.skew-cancel {
    transform: skew(20deg);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}