#stations .skew {
    border: solid;
    border-color: #00f0f0;
    margin: 6px;
    transform: skew(-20deg);
    background: #012826;
}
#stations .skew-cancel {
    transform: skew(20deg);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#stations a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #00f0f0;
}

#stations .station {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}