<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="Description" content="Online radio player for raspberry pi & touchscreen.">
        <base href="/">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>{% block title %}PiRadio{% endblock %}</title>
        <!-- css -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!-- /css -->
    </head>

    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-dark" id="sidebar-wrapper" role="navigation">
                <nav>
                    <div class="glow-ball-container">
                        <div class="glow-ball"></div>
                    </div>

                    <div class="sidebar-head">
                        <a href="/">
                            <svg id="svgTitle" viewBox="0 0 400 400">
                                <text x="100" y="220" class="title">PiRadio</text>
                                <circle class="st0" cx="200" cy="200" r="150">
                                    <animateTransform attributeType="xml"
                                                      attributeName="transform"
                                                      type="rotate"
                                                      from="0 200 200"
                                                      to="360 200 200"
                                                      dur="200s"
                                                      repeatCount="indefinite"/>
                                </circle>
                                <circle class="st1" cx="200" cy="200" r="160">
                                    <animateTransform attributeType="xml"
                                                      attributeName="transform"
                                                      type="rotate"
                                                      from="360 200 200"
                                                      to="0 200 200"
                                                      dur="200s"
                                                      repeatCount="indefinite"/>
                                </circle>
                                <circle class="st2" cx="200" cy="200" r="170">
                                    <animateTransform attributeType="xml"
                                                      attributeName="transform"
                                                      type="rotate"
                                                      from="0 200 200"
                                                      to="360 200 200"
                                                      dur="200s"
                                                      repeatCount="indefinite"/>
                                </circle>
                                <circle class="st3" cx="200" cy="200" r="174"/>
                            </svg>
                        </a>
                    </div>

                    <div class="list-group list-group-flush">
                        <div class="skew">
                            <a ui-sref="country">
                                <div class="skew-cancel text-center">Countries</div>
                            </a>
                        </div>
                        <div class="skew">
                            <a ui-sref="genre">
                                <div class="skew-cancel text-center">Genres</div>
                            </a>
                        </div>
                    </div>

                </nav>
            </div>
            <!-- /sidebar-->



            <!-- main content -->
            <div id="page-content-wrapper">

                <!-- mobile navbar -->
                <div id="mobile-navbar">
                    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                        <a class="navbar-brand" href="/">PiRadio</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars mobile-color"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a ui-sref="country">Countries</a>
                                </li>
                                <li class="nav-item">
                                    <a ui-sref="genre">Genres</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /mobile navbar -->



                <!-- player -->
                <player></player>
                <!-- /player -->

                <div class="glow-ball-container-2">
                    <div class="glow-ball-2"></div>
                </div>

                <!-- view -->

                <div class="ui-view-container" role="main">
                    <noscript>
                        <div id="noscript">
                            <h2>
                                For full functionality of this site it is necessary to enable JavaScript.
                                Here are the <a href="https://www.enable-javascript.com/">
                                    instructions how to enable JavaScript in your web browser</a>.
                            </h2>
                        </div>
                    </noscript>

                    <ui-view class="view-animation"></ui-view>
                </div>

                {#{% block body %}{% endblock %}#}

                <!-- /view -->
            </div>
            <!-- /main content -->
        </div>

        <!-- alert box -->
        <alert></alert>
        <!-- js -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- /js -->


    </body>
</html>
