#player {
    height: 100px;
    background-color: #1f1f23;
}

#player .container .row {

}

#player .skew {
    border: solid;
    border-color: #00f0f0;
    margin: 10px;
    transform: skew(-20deg);
    background: #012826;
}
#player .skew-cancel {
    transform: skew(20deg);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#player a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #00f0f0;
}

#player .play .mute {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#favicon img {
    width: 100%;
    max-height: 100px;
}
#info .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#volume-slider {
    width: 100%;
}

#volume-slider .slider {
    appearance: none;
    width: 100%;
    height: 25px;
    background: #012826;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;

    border: 4px solid;
    border-radius: 0.25rem;
    border-color: #00f0f0;
}

/* Mouse-over effects */
#volume-slider .slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#volume-slider .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #00f0f0;
    cursor: pointer;
}

#volume-slider .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #00f0f0;
    cursor: pointer;
}